<%= form_with model: @user do |form| %>
  <div id="user-edit-details">
    <% if @user.claimed %>
      <div>
        <%= form.label :username %><br>
        <%= form.text_field :username %>
        <% @user.errors.full_messages_for(:username).each do |message| %>
          <div><%= message %></div>
        <% end %>
      </div>

      <div>
        <%= form.label :password %><br>
        <%= form.password_field :password %>
        <% @user.errors.full_messages_for(:password).each do |message| %>
          <div><%= message %></div>
        <% end %>
      </div>
    <% end %>

    <div>
      <%= form.label :first_name %><br>
      <%= form.text_field :first_name %>
      <% @user.errors.full_messages_for(:first_name).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>

    <div>
      <%= form.label :middle_name %><br>
      <%= form.text_field :middle_name %>
      <% @user.errors.full_messages_for(:middle_name).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>

    <div>
      <%= form.label :last_name %><br>
      <%= form.text_field :last_name %>
      <% @user.errors.full_messages_for(:last_name).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>

    <div>
      <%= form.label :nickname %><br>
      <%= form.text_field :nickname %>
      <% @user.errors.full_messages_for(:nickname).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>

    <div>
      <%= form.label :birthdate %><br>
      <%= form.date_field :birthdate %>
      <% @user.errors.full_messages_for(:birthdate).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>

    <%# default the user to unclaimed unless creating a new user who is registered %>
    <%= form.hidden_field :claimed, value: !!params[:claimed] %>

    <div>
      <%= form.submit %>
    </div>
  </div>
<% end %>
