<%= form_with model: @post do |form| %>
  <div id=post-edit-details>
    <div>
      <%= form.label :title %><br>
      <%= form.text_field :title %>
      <% @post.errors.full_messages_for(:title).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>

    <div>
      <%= form.label :body %><br>
      <%= form.text_area :body %>
      <% @post.errors.full_messages_for(:body).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>

    <div>
      <%= form.check_box :private %>
      <%= form.label :private, "Private post (only visible to you)" %>
    </div>

    <% if current_user&.family&.users&.where&.not(id: current_user.id)&.any? %>
    <div>
      <%= form.label :tagged_user_ids, "Tag Family Members:" %><br>
      <%= form.collection_check_boxes :tagged_user_ids, current_user.family_members, :id, :name do |b| %>
        <div>
          <%= b.check_box %>
          <%= b.label do %>
            <%= b.object.name %><%= " (#{b.object.age} years old)" if b.object.age %>
          <% end %>
        </div>
      <% end %>
    </div>
    <% end %>
  </div>

  <!--TODO: temporarily hardcode submitting user as last user as authentication has not been added yet. Once that is added, remove hardcoded value and use:-->
   <%#= form.hidden_field :user_id, value: current_user.id %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
