<% is_user_post_index = @user %>
<% index_header_string = is_user_post_index ? "#{@user.name}'s Posts" : "All Posts" %>

<h1><%= index_header_string %></h1>

<%= link_to "New Memory", new_post_path %>

<ul>
  <% @posts.each do |post| %>
    <li id="post-<%= post.id %>">
      <%= link_to post.title, post %>
      <br/>
      <p><%= post.body %></p>
      <p>by: <%= post.user.name %></p>
    </li>
  <% end %>
</ul>
