<h1><%= @post.title %></h1>

<div id=post-details>
  <i>by: <%= @post.user.name %></i>
  <p><%= @post.body %></p>
</div>

<ul>
  <li><%= link_to "Edit", edit_post_path(@post) %></li>
  <li><%= link_to "Delete Post", post_path(@post), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure you want to delete '#{@post.title}'?"
                  } %></li>
</ul>

<%= link_to 'Back to Posts', '/posts' %>
