<h1>
  <%= @post.title %>
  <% if @post.private? %>
    <span class="badge bg-secondary">Private</span>
  <% end %>
</h1>

<div id=post-details>
  <i>by: <%= @post.user.name %> on <%= @post.created_at.strftime("%B %d, %Y") %></i>
  <% if @post.user.family.present? %>
    <div><small class="text-muted">Family: <%= @post.user.family.name %></small></div>
  <% end %>
  <p><%= @post.body %></p>
</div>

<ul>
  <li><%= link_to "Edit", edit_post_path(@post) %></li>
  <li><%= link_to "Delete Post", post_path(@post), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure you want to delete '#{@post.title}'?"
                  } %></li>
</ul>

<%= link_to 'Back to Posts', '/posts' %>
